@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container {
  padding-left: rem(12px) !important;
  padding-right: rem(12px) !important;

  @include min-tablet {
    padding-left: rem(40px) !important;
    padding-right: rem(40px) !important;
  }
}

strong {
  font-weight: 500 !important;
}
