.header {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  position: fixed;
  top: 0;
  width: 100%;

  &_connectWalletBtn {
    column-gap: 8px;
  }

  &_link {
    color: var(--brand-camo-200);
    transition: all 0.3s ease-in-out;
    &.active {
      color: var(--brand-yellow-200) !important;
    }

    &:hover {
      color: var(--brand-camo-100);
    }
  }
}
